.post {
	@include md-style();
	width: 100%;

	.post__cover {
		overflow: hidden;
		width: 100%;

		&>img {
			display: block;
			width: 100%;
		}
	}

	.post__header {
		text-align: center;
		padding-bottom: 2em;
	}

	.post__title {
		font-size: 2em;
		margin-bottom: .5em;
	}

	.post__meta {
		font-size: 12px;
		overflow: hidden;
	}

	.post__tags {
		margin-bottom: 10px;
		padding: 0;
	}

	.post__tag {
		display: inline-block;
		list-style: none;
		font-size: 12px;
		border-radius: 4px;
		background-color: $main-color;
		color: #fff;
		height: 20px;
		line-height: 18px;
		padding: 0 .5em;
	}

	.post__tag + .post__tag{
		margin-left: .5em;
	}

	.post-announce {
		margin: 2em 0;
	}

	.post__prevs {
		display: flex;
		width: 100%;
		font-size: 0;
		padding-top: 10px;
		border-top: 1px dashed #ddd;
	}

	.post__prev {
		flex: 1 0 0;
		overflow: hidden;

		& > a {
			font-size: 16px;
			display: inline-block;
			max-width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
    		white-space: nowrap;
    		color: $main-fc;
    		text-decoration: none;
    		cursor: pointer;
    		transition: color $transition;
    		text-decoration: none;

    		&.actived {
    			color: $main-color--hover;
    		}

    		&:hover,
    		&:active {
    			color: $main-color--hover;
    		}

    		i {
    			font-size: 1.4em;
    			vertical-align: middle;
    		}
		}

		&--right {
			text-align: right;
		}
	}
}