$path: '../../fonts/';

@font-face {font-family: "iconfont";
  src: url($path + 'iconfont.eot?t=1491407740717'); /* IE9*/
  src: url($path + 'iconfont.eot?t=1491407740717#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url($path + 'iconfont.woff?t=1491407740717') format('woff'), /* chrome, firefox */
  url($path + 'iconfont.ttf?t=1491407740717') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url($path + 'iconfont.svg?t=1491407740717#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:20px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before { content: "\e6c1"; }

.icon-search:before { content: "\e777"; }

.icon-zhifubao:before { content: "\e66d"; }

.icon-butbacktotop:before { content: "\e62f"; }

.icon-zhihu:before { content: "\e619"; }

.icon-tuitetwitter43:before { content: "\e60c"; }

.icon-jishi-copy-copy:before { content: "\e601"; }

.icon-email:before { content: "\e61e"; }

.icon-weibo:before { content: "\e60d"; }

.icon-wechat:before { content: "\e614"; }

.icon-github:before { content: "\e600"; }

.icon-tian7_facebook:before { content: "\e602"; }